.gradle/
.vs/
.vscode/
Assets/AddressableAssetsData/*/*.bin*
Assets/Plugins/Editor/JetBrains*
Assets/Portal-To-Unity/Dev/
Assets/Portal-To-Unity/Dev.meta
Assets/Portal-To-Unity/Meta/Generated/
Assets/Portal-To-Unity/Meta/Generated.meta
Assets/StreamingAssets/Generated/
Assets/StreamingAssets/Generated.meta
Assets/StreamingAssets/ROMs/Dev/
Assets/StreamingAssets/ROMs/Dev.meta
Assets/StreamingAssets/salt.txt
Assets/StreamingAssets/salt.txt.meta
Library/
Temp/
Obj/
Builds/
Logs/
UserSettings/
MemoryCaptures/
Recordings/
ExportedObj/
sysinfo.txt
crashlytics-build.properties
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.aab
*.unitypackage
*.app